scikit-learn
tensorflow
pandas
matplotlib
seaborn
opencv-python
Pillow
Flask
requests
skl2onnx
onnxruntime
librosa
mtcnn
keras-vggface
keras-nlp
transformers
datasets
torch
azure-cognitiveservices-vision-computervision
azure-ai-textanalytics
azure-cognitiveservices-speech
duckdb